{% if dgPublish %}
<div style="margin-top: 2rem; padding-top: 2rem; border-top: 1px solid #eee;">
  <h3>💬 评论区</h3>
  <script src="https://giscus.app/client.js"
        data-repo="stephen-a2z/obsidian-dg"
        data-repo-id="R_kgDORqY3bA"
        data-category="General"
        data-category-id="DIC_kwDORqY3bM4C41nD"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark_protanopia"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
  </div>
{% endif %}